.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.screen{
    grid-column: 1 / span 4;
    min-height: 50px;
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 24px;
    text-align: right;
}

button{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}